body{
    background-color: rgb(37, 38, 38);
    white-space: nowrap;
}

.text{
    
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.menu{
    font-size: 80%;
    margin-top: -10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    height: 80px;
    background: #545454;
    color: #daebe1;
    position: fixed;
    top:0px;
    left: 0px;
    z-index: 9;
    

}
.gold{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    color:rgb(0, 0, 0);
    margin-top: 50px;
    margin-left: 10px;
    margin-top: 100px;
    white-space: nowrap;
    
}
.paygold{
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
    background-color: #c2c2c2;
    border-radius: 15px;
    width: 360px;
    height: 160px;
    box-shadow: 0 0 10px #c2c2c2;
    

}
.paygold:hover{
    box-shadow: 0 0 40px #ffbfe8;
    transform: scale(1.02); 

}
img{
    object-fit: cover;
    width: 150px;
    height: 150px;

    border-radius: 15px;
    border: 5px #c2c2c2 solid;
}
button{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
}
.info{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin-top: -20px;
}
.logopic{
    opacity: 0.3;
    border: none;
    width: 100%;

    margin-top: -10px;
    width: 100%;
    height: 180px;
    position: fixed;
    top:-100px;
    left: 0px;
    z-index: -1;
}
.header{
   margin-top: -50px;
   margin-left: 250px ;

}
/* Styles for devices with a maximum width of 768px */
@media (max-width: 768px) {
    .menu {
        font-size: 60%;
        height: 60px;
    }

    .paygold {
        width: 100%;
        height: 120px;
    }

    .gold {
        margin-top: 70px;
    }



}

/* Styles for devices with a maximum width of 480px */
@media (max-width: 480px) {
    .menu {
        font-size: 50%;
        height: 40px;
    }

    .paygold {
        width: 100%;
        height: 160px;
        margin-top: 20px;
    }

    .gold {
        margin-top: 70px;
    }




}
